@import '../../../node_modules/open-color/open-color.scss';
div.text-toc-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  div.text {
    max-width: 69ch;
  }
  div.toc {
    position: sticky;
    align-self: flex-start;
    top: 0;
    max-width: calc( 300px + 1rem);
    min-width: calc( 200px + 1rem);
    padding-left: 1rem;
    ul {
      font-family: 'Roboto condensed';
      margin: 0;
      padding: 0;
      list-style-type: none;
      line-height: 1.25;
      li a {
        display: block;
        margin:: 0 -0.5rem;
        padding: 0.25rem 0.5rem;
      }
      li a:hover {
        background: $oc-pink-0;
        text-decoration: none;
      }
    }
  }
}

h2 a.anchor,
h3 a.anchor,
h4 a.anchor,
h5 a.anchor,
h6 a.anchor {
  margin-left: -15px;
  margin-right: -1px;
}

footer {
  background: $oc-pink-0;
  border-top: 3px solid $oc-cyan-4;
  color: $oc-gray-8;
  padding: 2rem 0 1rem;
  background: -webkit-linear-gradient(45deg, $oc-pink-4, $oc-cyan-4);
}
.theme-wrapper.dark footer {
  border-top: 3px solid $oc-cyan-7;
  background: -webkit-linear-gradient(45deg, $oc-pink-7, $oc-cyan-7);
  color: $oc-gray-3;
}

ul.aside-main-menu li {
  display: block;
  a span.text {
    display: inline-block;
  }
}

div.mob-menu {
  padding: 1rem;
}

/* slate */
@media (max-width: 1199px) and (min-width: 960px) {
  div.text-toc-wrapper div.toc {
    max-width: calc( 200px + 1rem);
    min-width: calc( 100px + 1rem);
  }
}

/* tablet */
@media (max-width: 959px) {
  div.text-toc-wrapper {
    flex-wrap: wrap-reverse;
    div.toc {
      width: 100%;
      max-width: 100%;
      position: relative;
      padding: 0;
      margin: 0 0;
      border: 1px solid $oc-pink-1;
      border-radius: 4px;
      margin-top: -1rem;
      ul {
        padding: 0.5rem;
      }
      h5 {
        margin: 0;
        padding: 0 0.5rem;
        background: $oc-pink-1;
      }
    }
  }
}

