#homepage {
  text-align: center;
  h1 {
    margin-top: 3rem;
  }
  div.hero {
    max-width: 480px;
    margin: 0 auto;
    color: #f783ac;
    background: -webkit-linear-gradient(45deg, #f783ac, #3bc9db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 16ch;
    line-height: 1;
  }
}

/* tablet */
@media (max-width: 959px) {
  #homepage div.hero {
    font-size: 10ch;
  }
}

